footer {
	background-color: #09f;
}

nav {
	background-color: black;
}

body {
    background-color:#444;
}

table {
	border:2px solid black;
}

.Display-film-tiles{
	list-style-type: none;
}
       
.pic{
	width:255px;
	height:369px;
}

.age-rating{
    position: relative;
    left: 150px;
	bottom:50px;
}

.age-rating-logo{
	width:25%;
}

.find-us-map{
	position:absolute;
	padding:10px 10px 10px 10px;
	margin-left:10px;
}

.find-us-text{
	position:absolute;
	margin-left:700px;
    margin-right: 50px;
    color: whitesmoke;
}

.cinema-selection{
    align-content: center;
}

.mdl-grid{
    align-items: center;
    justify-content: center;
    }
    
.film-tile-padding{
    padding:20px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    justify-content: center;
}
	   
.film-title{
	padding-top:45px;
}
       
.container {
    position:relative;
    margin: auto;
    height: 450px;
    width: 270px;
    padding: 10px;
    background-color: white;
    display: inline-grid;
    }
 
.background {
    background-color: lightgrey; 
	margin: auto;
	height: 300px;
	width: 255px;
}


#login-box .mdl-layout {
	align-items: center;
  justify-content: center;
}
#login-box .mdl-layout__content {
	padding: 24px;
	flex: none;
}
.mdl-card__title-text{
	font-size: 18px;
}

.mdl-card {
	display: inline-flex;
	width: 515px;
	display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
	height: 500px;
	box-shadow: 3px 3px 5px #888888;
	border-radius: 5px;
}
	
.mdl-grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex;
 
}

.Drop-down-information{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.5);
	color:#fff;
	padding: 20px 20px 20px 20px;
}
