footer {
    background-color: #09f;
}

nav {
    background-color: black;
}

body {
    background-color:#444;
}

table {
    border:2px solid black;
}

#carousel{
	max-width: 1100px;
	max-height:450px;
	margin: auto;
}

#carousel img#poster{
	width:100%;
	height: auto;
	max-width:100%;
	margin:auto;
}

.Display-film-tiles{
    list-style-type: none;
}
       
.pic{
    width:255px;
    height:369px;
}

.age-rating{
    position: relative;
    left: 150px;
    bottom:50px;
}

.age-rating-logo{
    width:25%;
}

.mdl-grid{
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex;
}
	
.film-tile-padding{
    padding:20px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    justify-content: center;
}
	   
.film-title{
    padding-top:45px;
}
       
.container {
    position:relative;
    margin: auto;
    height: 450px;
    width: 270px;
    padding: 10px;
    background-color: white;
    display: inline-grid;
    }
 
.background {
    background-color: lightgrey; 
    margin: auto;
    height: 300px;
    width: 255px;
}

#login-box .mdl-layout {
    align-items: center;
    justify-content: center;
}
#login-box .mdl-layout__content {
    padding: 24px;
    flex: none;
}

.mdl-card__title-text{
    font-size: 18px;
}

.mdl-card {
    display: inline-flex;
    width: 515px;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    height: 500px;
    box-shadow: 3px 3px 5px #888888;
    border-radius: 5px;
}

#account-box .mdl-layout {
    align-items: center;
    justify-content: center;
}

#account-box .mdl-layout__content {
    padding: 24px;
    flex: none;
}

#account-box .mdl-card {
    margin: auto;
    width: 330px;
    height: auto;
    border-radius: 0px;
    box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.5);
}

#account-box .mdl-textfield {
    padding: 14px 0;
}

#account-box .mdl-textfield__input {
    border: 1px solid #dedede;
    transition: all .6s;
    height: 30px;
    padding-left: 5px;
    margin-left: -2.55555555px;
}

#account-box .mdl-textfield__input:focus {
    border: 1px solid #3f51b5;
    box-shadow: 0px 0px 0px #000;
}

#account-box .mdl-textfield__input:focus {
    color: #3f51b5;
}

#account-box .mdl-button:active, #account-box .mdl-button:hover  {
    background-color: rgb(63, 81, 181);
    color: #fff;
}

#account-box .mdl-button {
    border: 1px solid #3f51b5;
    box-shadow: 0px 0px 6px -2px #3f51b5;
}

#account-box .account_link {
    display: inline-block;
    width: 232px;
    text-align: end;
    font-size: 14px;
}

.Drop-down-information{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.7);
    color:#fff;
    padding: 20px 20px 20px 20px;
}

.sitemap-footer-list{
	list-style-type:none;
	display: inline-flex;
	color:#FFF;
}

.sitemap-footer-list li{
	margin-left: 30px;
}

.footer-sub-list{
	list-style-type:square;
}

.footer-sub-list li{
	margin-left: -15px;
}


.popUpInfoBox{
	position: inherit;
    top: 0px;
    width: 100%;
}

.Pop-Up-information{
    position: fixed;
    top: 50px;
    left: 0px;
    height: 100%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.7);
	color:#fff;
	padding: 20px 20px 20px 20px;
}